################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VeggieMadness
/Algorithm Architects/ProjectSettings/Packages/com.unity.probuilder/Settings.json
